{% extends "astrology/base.html" %}

{% block title %}Home | Astrology{% endblock %}

{% block content %}
<div class="centered-text">
    <h1 class="twinkling-text">“I know that I am mortal and the creature of a day; <br> 
        but when I search out the massed wheeling circles of the stars, <br> 
        my feet no longer touch the earth, <br> 
        but, side by side with Zeus himself, <br> 
        I take my fill of ambrosia, the food of the gods.”</h1>
    <p class="twinkling-text">— Ptolemy</p>
</div>
{% endblock %}